
.figure {
    text-align: center;
    outline: black solid;
    outline-offset: 10px;
    alignment: center;
    height: auto;
}

.step {
    text-align: center;
    border-radius: 5px;
    padding: 1rem;

    background: steelblue;
    color: white;
}

.stepText {
    font-size: medium;
    color: black;
    alignment: center;
    text-align: center;

    margin: 10px;
}
.note {
    color: darkred;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}
.helpImg {
    width: 45%;
    height: 45%;
    object-fit: contain;
}



/* Collapsible stuff */

.wrap-collapsible {
    margin-bottom: 1.2rem;
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;

    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;

    padding: 1rem;

    color: white;
    background: steelblue;

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    background: darkslateblue;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
    overflow-y: scroll;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: lightsteelblue;
    border-bottom: 15px solid steelblue;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}